<div class="main">
  <div class="relatorio">
    <div class="relatorio-header">
      <h3>Relatório</h3>
    </div>
    <div class="relatorio-body">
      <div class="tabela">
        <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="'bar'"
      >

      </canvas>
      </div>
    </div>
    <div class="informacoes">
      <h3>Janeiro</h3>

      <p>Total de Adesões:</p>
      <p>Valor Total de Adesões:</p>
      <p>Valor Bonificações:</p>
      <p>Valor Total do Mês:</p>

    </div>
  </div>
</div>


