.main {
  height: 100%;
  .relatorio {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
    border: 1px solid rgba(var(--lightGrey), 1);
    .relatorio-header {
      background-color: rgb(197, 200, 198);
      border-radius: 10px 10px 0 0;
      align-self: center;
      border-bottom: 1px solid;
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      border-color: rgb(192, 192, 193);

      h3 {
        text-align: center;
        margin: 5px;
        font-size: 24px;
      }
    }

    .relatorio-body {
      overflow-x: scroll !important;
      padding-top: 10px;
      width: 98% !important;

      .tabela {

        canvas {
          padding-right: 150px;
          background-color: rgb(255, 255, 255);
          padding: 0 0 15px 0;

        }
      }
    }

    .informacoes {
      h3 {
        font-size: 20px;
        text-align: center;
        background-color: rgb(197, 200, 198);
        padding: 10px;
      }
      p {
        font-size: 14px;
        margin: 10px;
      }
    }
  }
}
