.background{
  width: 100%;
  height: fit-content;
  button{
    margin: 10px;
    display: flex;
    position: absolute;
  }
  a{
    display: flex;
    width: auto;
    height: auto;
  }
    img{
      width: 100%;
      height: auto;

    }
  }
