.global{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;


  ::ng-deep app-home{
    height: inherit !important;
    display: flex;
    align-items: center;

  }

  ::ng-deep app-adicionar-user{
    height: inherit !important;
  }

 ::ng-deep app-gerenciar-user{
    height: inherit !important;
    display: flex;
    align-items: baseline;
  }

  ::ng-deep app-calendario{
    height: inherit !important;
  }
}
