.global{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  ::ng-deep app-home{
    height: inherit !important;
  }

 ::ng-deep app-gerenciar-user{
    height: inherit !important;
  }

  ::ng-deep app-calendario{
    height: inherit !important;
  }
}
