.main{
  .header{
    h3{
      font-size: 35px;
      text-align: center;
      font-family: 'Belanosima', sans-serif;
      padding: 15px 0 15px 0;
      border-bottom: 1px;
      border-color: rgb(197, 197, 197);
      border-style: solid;
      width: 93%;
      margin: auto;
    }
  }

  .accordion{
    margin: 20px 0 20px 0;
  }
}
