<div class="main">
  <div class="header">
    <h3>Gerenciar Associados</h3>
  </div>
  <div class="vazio" *ngIf="clientes == 0">
    <img src="../assets/empty.png">
    <p class="ops"> <strong>Ooops.</strong> Nenhum associado encontrato </p>
    <p class="novo"><a routerLink="/add">Clique aqui</a> para cadastrar um novo.</p>
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample"*ngFor="let cliente of clientes; index as i">
    <div class="accordion-item" >
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+ i" aria-expanded="false" aria-controls="flush-collapse1">
          {{cliente.nome}}
        </button>
      </h2>
      <div id="{{i}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="edit">
            <mat-icon >edit</mat-icon>
            <mat-icon data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getId(i)">delete</mat-icon>
          </div>
          <ul>
            <li *ngIf="cliente.telefone"> <strong> Telefone:</strong> {{cliente.telefone}} </li>
            <li *ngIf="!cliente.telefone"><strong> Telefone:</strong> Não informado. </li>
            <li *ngIf="cliente.modelo"><strong>Veículo: </strong> {{cliente.modelo}} </li>
            <li *ngIf="!cliente.modelo"><strong>Veículo: </strong> Não Informado. </li>
            <li *ngIf="cliente.placa"><strong>Placa: </strong> {{cliente.placa}} </li>
            <li *ngIf="!cliente.placa"> <strong>Placa: </strong> Não informada. </li>
            <li *ngIf="cliente.valorPgt"><strong>Valor da Adesão: </strong> R$ {{cliente.valorPgt}},00 </li>
            <li *ngIf="!cliente.valorPgt"><strong>Valor da Adesão: </strong> Não informado. </li>
            <li *ngIf="cliente.dataPgt"><strong>Data do Pagamento: </strong> {{cliente.dataPgt | date : 'dd/MM/yyyy'}} </li>
            <li *ngIf="!cliente.dataPgt"><strong>Data do Pagamento: </strong> Não informada. </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CONFIRMAÇÃO</h5>
      </div>
      <div class="modal-body">
        <p>Deseja realmente deletar este associado?</p>
        <p>Esta ação é irreversível!</p>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-seconday"(click)="confirmarExcluir()" data-bs-dismiss="modal">Deletar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>

      </div>
    </div>
  </div>
</div>
