.main{
  width: 100%;
  height: 100%;
  .header{
    h3{
      font-size: 35px;
      text-align: center;
      font-family: 'Belanosima', sans-serif;
      padding: 15px 0 15px 0;
      border-bottom: 1px;
      border-color: rgb(197, 197, 197);
      border-style: solid;
      width: 93%;
      margin: auto;
    }
    margin-bottom: 25px;
  }

  .accordion{
    margin: 0px 0 0px 0;

    .accordion-button{
      margin: auto;
      width: 93%;
      padding: 0 20px 10px 20px;
      border-bottom: 1px;
      border-style: solid;
      border-color: rgb(197, 197, 197);
    }

    .accordion-body{
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      flex-direction: row-reverse;
    }

    .edit{
      display: flex;
      justify-content: space-between;
      align-self: start;
      width: 20%;
      margin-left: auto !important;
      mat-icon:hover{
        cursor: pointer;
      }
    }

    ul{
      li{
        margin-bottom: 10px;
      }
    }
  }

}

.modal-dialog {
  width: fit-content;
  display: flex;
  margin: auto;

  .modal-header{
    h5{
      text-align: center !important;
      font-size: 20px;
      margin: auto;
      font-weight: bold;
    }
  }
}
