<div class="main">
  <div class="header">
    <h3>Gerenciar Associados</h3>
  </div>

  <div class="accordion accordion-flush" id="accordionFlushExample"*ngFor="let cliente of clientes; index as i">
    <div class="accordion-item" >
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+ i" aria-expanded="false" aria-controls="flush-collapse1">
          {{cliente.nome}}
        </button>
      </h2>
      <div id="{{i}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <li *ngIf="cliente.telefone">Telefone: {{cliente.telefone}} </li>
            <li *ngIf="!cliente.telefone">Telefone: Não informado. </li>
            <li *ngIf="cliente.modelo">>Veículo: {{cliente.modelo}}</li>
            <li *ngIf="!cliente.modelo">>Veículo: Não Informado.</li>
            <li *ngIf="cliente.placa">>Placa: {{cliente.placa}}</li>
            <li *ngIf="!cliente.placa">>Placa: Não informada.</li>
            <li *ngIf="cliente.valorPgt">>Valor da Adesão: R$ {{cliente.valorPgt}}</li>
            <li *ngIf="!cliente.valorPgt">>Valor da Adesão: Não informado.</li>
            <li *ngIf="cliente.dataPgt">>Data do Pagamento: {{cliente.dataPgt}}</li>
            <li *ngIf="!cliente.dataPgt">>Data do Pagamento: Não informada.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
