<div class="main">
  <div class="header">
    <h3>Cadastrar Cliente</h3>
  </div>

  <div class="inputs">
    <form [formGroup]="formCliente" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inputName">Nome</label>
        <input
          type="text"
          class="form-control"
          name="nome"
          formControlName="nome"
          id="inputName"
          placeholder="Digite o Nome"
        >
        <span class="text-muted" *ngIf="formInvalid"> * Nome é obrigatório!</span>
      </div>

      <div class="form-group">
        <label for="inputTelefone">Telefone</label>
        <input
          type="tel"
          class="form-control"
          formControlName="telefone"
          name="telefone"
          id="inputTelefone"
          placeholder="Digite o Telefone"
        >
        <span class="text-muted" *ngIf="formInvalid"> * Telefone é obrigatório!</span>
      </div>
      <div class="form-group">
        <label for="inputVeiculo">Modelo do Veículo</label>
        <input
          type="text"
          class="form-control"
          formControlName="modelo"
          name="modelo"
          id="inputVeiculo"
          placeholder="Digite o Modelo do Veículo"
        >
        <span class="text-muted" *ngIf="formInvalid"> * Modelo é obrigatório!</span>
      </div>
      <div class="form-group">
        <label for="inputPlaca">Placa</label>
        <input
          type="text"
          class="form-control"
          formControlName="placa"
          id="inputPlaca"
          placeholder="Digite a Placa do Veículo"
        >
        <span class="text-muted" *ngIf="formInvalid"> * Placa é obrigatória!</span>
      </div>
      <div class="form-group">
        <label for="inputPagamento" class="form-label"
          >Valor do Pagamento</label
        >
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">R$</span>
          <input
            type="number"
            class="form-control"
            formControlName="valorPgt"
            id="inputPagamento"
            placeholder="Digite o Valor do Pagamento"
          >
        </div>
        <span class="text-muted" *ngIf="formInvalid"> * Valor do pagamento é obrigatório!</span>
      </div>

      <div class="form-group" >
        <label for="inputData">Data do Pagamento</label>
        <input
          type="date"
          class="form-control"
          formControlName="dataPgt"
          id="inputData"
          placeholder="Selecione a data a receber"
        >
        <span class="text-muted" *ngIf="formInvalid"> * Data do pagamento é obrigatória!</span>
      </div>
    </form>

    <div class="buttons">
      <a routerLink=""
        ><button type="submit" class="btn btn-outline-danger">
          Cancelar
        </button></a
      >
      <button
        (click)="onSubmit()"
        type="submit"
        value="Salvar"
        class="btn btn-primary"
        data-bs-toggle="modal" data-bs-target="#exampleModal" >
        Cadastrar
      </button>
    </div>
  </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CONFIRMAÇÃO</h5>
      </div>
      <div class="modal-body">
        <p *ngIf="!formInvalid" class="success">Associado cadastrado com sucesso !!</p>
        <p *ngIf="formInvalid" class="fail">ATENÇÃO</p>
        <p *ngIf="formInvalid" class="fail2">Preencha todos os campos.</p>
      </div>
      <div class="modal-footer" >
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" routerLink="">OK</button>
      </div>
    </div>
  </div>
</div>
