<div class="home">
  <div class="cards">
    <a routerLink="add">
      <mat-card class="add">
        <mat-icon>person_add</mat-icon>
        <mat-card-content>Adicionar Associado</mat-card-content>
      </mat-card></a
    >
    <a routerLink="users"
      ><mat-card class="cfg">
        <mat-icon>settings</mat-icon>
        <mat-card-content>Gerenciar Associados</mat-card-content>
      </mat-card>
    </a>
    <a routerLink="calendario">
    <mat-card class="cal">
      <mat-icon>calendar_today</mat-icon>
      <mat-card-content>Calendário de Pagamentos</mat-card-content>
    </mat-card>
  </a>
  </div>
</div>
