
.home {
  background-color:  white;
  a {
    text-decoration: none;
  }
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;



    .add {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly !important;
      background-image: url(https://ee49be99e0.cbaul-cdnwnd.com/2f945ac7904363b3caed289d0e752bb7/200000003-af454af456/FUNDO%20SOLIDY.jpg?ph=ee49be99e0);
      display: flex;
      width: 38vw;
      height: 17vh;
      box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
      border: 1px solid rgba(var(--lightGrey), 1);
      border-radius: 10px;
      color: whitesmoke;
      font-size: 1.3rem;
      margin: 10px;
      mat-icon {
        width: 40px;
        height: 40px;
        font-size: 40px;
      }

      &:hover {
        cursor: pointer;
      }
      .mat-card-content {
        display: flex;
        font-size: 18px;
        text-align: right !important;
        padding: 0 0 5px 0;
        line-height: 25px;
        font-weight: bold;
      }
    }
    .cfg {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly !important;
      background-image: url(https://ee49be99e0.cbaul-cdnwnd.com/2f945ac7904363b3caed289d0e752bb7/200000003-af454af456/FUNDO%20SOLIDY.jpg?ph=ee49be99e0);
      display: flex;
      width: 38vw;
      height: 17vh;
      box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
      border: 1px solid rgba(var(--lightGrey), 1);
      border-radius: 10px;
      color: whitesmoke;
      font-size: 25px;
      margin: 10px;
      mat-icon {
        width: 40px;
        height: 40px;
        font-size: 40px;
      }
      &:hover {
        cursor: pointer;
      }
      .mat-card-content {
        display: flex;
        font-size: 18px;
        text-align: right !important;
        padding: 0 0 5px 0;
        line-height: 25px;
        font-weight: bold;
      }
    }
    .cal {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly !important;
      background-image: url(https://ee49be99e0.cbaul-cdnwnd.com/2f945ac7904363b3caed289d0e752bb7/200000003-af454af456/FUNDO%20SOLIDY.jpg?ph=ee49be99e0);
      display: flex;
      width: 38vw;
      height: 17vh;
      box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
      border: 1px solid rgba(var(--lightGrey), 1);
      border-radius: 10px;
      color: whitesmoke;
      font-size: 25px;
      margin: 10px;
      mat-icon {
        width: 38px;
        height: 40px;
        font-size: 38px;
      }
      &:hover {
        cursor: pointer;
      }
      .mat-card-content {
        display: flex;
        justify-content: right;
        font-size: 18px;
        padding: 0 0 5px 0;
        text-align: right !important;
        line-height: 25px;
        font-weight: bold;
      }
    }

    .rel {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly !important;
      background-image: url(https://ee49be99e0.cbaul-cdnwnd.com/2f945ac7904363b3caed289d0e752bb7/200000003-af454af456/FUNDO%20SOLIDY.jpg?ph=ee49be99e0);
      display: flex;
      width: 38vw;
      height: 17vh;
      box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
      border: 1px solid rgba(var(--lightGrey), 1);
      border-radius: 10px;
      color: whitesmoke;
      font-size: 25px;
      margin: 10px;
      mat-icon {
        width: 40px;
        height: 40px;
        font-size: 42px;
      }
      &:hover {
        cursor: pointer;
      }
      .mat-card-content {
        display: flex;
        justify-content: right;
        font-size: 18px;
        text-align: right !important;
        padding: 0 0 5px 0;
        line-height: 25px;
        font-weight: bold;
      }
    }

  }
}

@media (min-width: 550px) {

  .mat-card  {
    width: 253px !important;
    margin: auto;
  }
}
